{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'frontend/favicon.ico' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <title>Piano Song Recommender</title>
</head>
<body>
  <section class="section">
    <div class="container">
          <div id="app" class="columns"><!-- React --></div>
    </div>
  </section>
  <section>
    {% block content %}
    {% if user.is_authenticated %}
      <h1>Hi {{ user.username }}!</h1>
      <h2>Your songs</h2>
      <ul>
        {% if not songs %}
          <li>No songs :(</li>
        {% else %}
          {% for song in songs %}
            <li>{{song.title}}, {{song.artist}}</li>
            <button onclick="location.href='/songview/{{song.id}}';" >Practice song</button>
            <button onclick="location.href='/removesong';">Remove song</button>
            <button onclick="location.href='/rate';">Rate song</button>
          {% endfor %}
        {% endif %}
      </ul>

      <h2>Your ratings</h2>
      <ul>
        {% if not ratings %}
          <li>No rated songs :(</li>
        {% else %}
          {% for rated in ratings %}
            <li>{{rated.song.title}}, {{rated.song.artist}}, {{rated.rating}}</li>
          {% endfor %}
        {% endif %}
      </ul>

      <h2>Your recommended songs</h2>
      <ul>
        {% if not recoms %}
          <li>No songs :(</li>
        {% else %}
          {% for song in recoms %}
            <li>{{song.title}}, {{song.artist}}</li>
          {% endfor %}
        {% endif %}
      </ul>

      <!-- <p><a href="/home/new">refresh your recommendations</a></p> -->
      <p><a href="{% url 'newhome' %}">refresh your recommendations</a></p>
    {% else %}
      <p>You are not logged in</p>
      <p><a href="{% url 'signup' %}">Sign Up</a></p>
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
    {% endblock %}
  </section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>
