<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Piano Song Recommender</title>
</head>
<body>
  <section class="section">
    <div class="container">
          <div id="app" class="columns"><!-- React --></div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Song</button>
    </form>
  </section>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

<script type="text/javascript">

    $(document).on('submit','#add_song_form',function(e) {
        e.preventDefault();

        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        var song_id = $(this).parent().find('data-songid').value;

        $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});

        // id:$('#addsong').attr('data-songid'),
        $.ajax({
            type:'POST',
            url:'/addsong/',
            data:{
                id:song_id,
                csrfmiddlewaretoken:csrf
            },
            success:function(){
                alert("Song added!");
            }
        });
    });

</script>


</html>
